<%- include("./parts/navbar.ejs" , {title : `${na}`,showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,na:na,nex:nex,ntr:ntr,nwith:nwith,ndep:ndep,nhm:nhm,lgt:lgt,stylesheets:['/css/about.css']}) %>

<div class="main_container">
  <h3 class="our_vision">OUR VISION</h3>
  <h1 class="our_vision_h1">Cryptocurrency in <br> Every Wallet <sup>TM</sup></h1>
  <div class="curs">
    <img src="/btc.svg" style="pointer-events: none" />
    <img src="/usdt.svg" style="pointer-events: none" />
    <img src="/eth.svg" style="pointer-events: none" />
    <img src="/trx.svg" style="pointer-events: none" />
    <img src="/ltc.svg" style="pointer-events: none" />
    <img src="/bnb.svg" style="pointer-events: none" />
  </div>

  <h3 class="our_mission">OUR MISSION</h3>
  <h1 class="our_mission_h1">Accelerate the world’s <br> transition to cryptocurrency</h1>

  <h3 class="our_partners">OUR PARTNERS</h3>
  <h1 class="our_partners_h1">Reaching the next 100M users <br> with the world’s best partners</h1>

  <h3 class="our_team">OUR TEAM</h3>
  <h1 class="our_team_h1">One Vision, One Global Team</h1>
  <p class="our_team_p">Building a world-changing platform is a <br> monumental task. These are the people behind it.</p>

  <div class="cn">
    <div class="x">
      <h1>100M</h1>
      <span>Users</span>
    </div>
    <div class="x">
      <h1>90</h1>
      <span>Countries</span>
    </div>
  </div>


  <h3 class="our_values">OUR VALUES</h3>


  <div id="tabs-section" class="tabs">

    <ul class="tab-head">
      <li>
        <button data-tab="tab-1" class="tab-link active"><img src="/coin.png" alt="C"><span class="tab-label">Think Clearly</span></a>
      </li>
      <li>
        <button data-tab="tab-2" class="tab-link"><img src="/coin.png" alt="C"><span class="tab-label">Stay Determined</span></a>
      </li>
      <li>
        <button data-tab="tab-3" class="tab-link"><img src="/coin.png" alt="C"><span class="tab-label">Dream Big</span></a>
      </li>
      <li>
        <button data-tab="tab-4" class="tab-link"><img src="/coin.png" alt="C"><span class="tab-label">Be Decisive</span></a>
      </li>
    </ul>

    <section id="tab-1" class="tab-body entry-content active active-content">
      <p>We consider clarity of thought to be the single most important trait we look for in our colleagues.</p>
      <p>We think about the message we want to deliver before we speak, and know what is important and what is not.</p>
      <p>We are concise and articulate, putting effort into making things simple and easy to understand.</p>
    </section>

    <section id="tab-2" class="tab-body entry-content">
      <p>We never give up, carry each other through hard times, and recognise grit in our colleagues.</p>
      <p>We understand that building a world-changing company is a monumental task, but we love every minute of it.</p>
      <p>We celebrate milestones together, recharge, and get back to work.</p>
    </section>

    <section id="tab-3" class="tab-body entry-content">
      <p>We think big, take smart risks, and do things that have never been done before.</p>
      <p>We are not afraid to make tough choices that align with our long-term objectives.</p>
      <p>We know that it always seems impossible until it’s done.</p>
    </section>

    <section id="tab-4" class="tab-body entry-content">
      <p>We are all empowered to take initiative, make the right decisions, and act as owners.</p>
      <p>We are committed to protecting our company culture and seek to bring in the best people we’ve ever worked with.</p>
      <p>We aim to surprise and inspire with the quality and speed of our decision-making.</p>
    </section>

  </div>

  <div class="cus">
    <p class="x">contact us</p>

    <% if (locals.site_email != null) { %>
    <span class="contact_us"><%= site_email %></span>
    <% } else { %>
    <span class="contact_us">customer-service@btcdinance.com</span>
    <% } %>
  </div>


  <% if (locals.site_name != null) { %>
  <span class="rights">Copyright &#169; 2018 - 2024 <%= site_name %> All rights reserved.</span>
  <% } else { %>
  <span class="rights">Copyright &#169; 2018 - 2024 BTC Dinance All rights reserved.</span>
  <% } %>

</div>

<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts: ['/js/about.js'] })%>