<%- include("./parts/navbar.ejs" , {title : 'forgot password',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,stylesheets:['/css/forgot-password.css']})%>

<div class="email-me">
  <fieldset>
    <legend>forgot password</legend>
    <form id="send_email">
      <input type="email" name="email" placeholder="email" />
      <button type="submit">send me email</button>
    </form>
  </fieldset>
</div>

<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts:['/js/forgot-password.js'] })%>