<%- include("./parts/navbar.ejs" , {title : 'Invest',showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false ,stylesheets:['/css/spinner.css','/css/invest.css']}) %>

<div class="main-buttons" style="color: white; text-align: center">
  This is Invest PAge
</div>

<%- include("./parts/footer.ejs" ,
{showScroller:false, moduleScripts: ['/js/invest.js'] })%>
