<%- include('./parts/navbar.ejs',{title : "reset password" ,showScroller:false, isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false , isAdmin: locals.isAdmin? isAdmin :
false , stylesheets : ['/css/reset-password.css']}) %>

<div class="reset-container">
  <form id="reset-form" class="reset-form">
    <div id="pin-div" class="pin-div">
      <span>Code : </span>

      <% for (let i = 0; i < pin_length ; i++){ %>
      <input />
      <% } %>
    </div>
    <div class="input-group">
      <input type="password" class="pass" />
      <i class="password-toggle-icon fas fa-eye"></i>
      <label>Enter New Password</label>
      <span class="l-n">max length 8 ~ 50</span>
    </div>
    <button type="submit" class="reset-pass">reset password</button>
  </form>
</div>

<%- include('./parts/footer.ejs' ,
{showScroller:false,moduleScripts : ['/js/reset-password.js']} ) %>
