.main_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    row-gap: 10px;
}
.our_vision,.our_mission{
    margin-top: 150px;
    color: var(--MAIN-MASTARD);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.our_vision_p , .our_mission_p{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    margin: 20px auto;
    text-wrap: nowrap;

}
.our_vision_p sup{
    font-size: 15px;
}
.curs{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid var(--MAIN-MASTARD);
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

.curs img {
    width: 60px;
    height: auto;
}




