

.email-me{

    width: 100%;
    height: auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-me fieldset{
    padding: 5px;
    border: 2px solid var(--GOLD);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.email-me legend{
    font-size: 18px;
    color: white;
    margin-left: 5px;
    padding: 4px;

}

.email-me input{
    min-width: 300px;
    padding: 7px;
    display: block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
}

.email-me button{
    display: block;
    margin: 0 auto;
    font-size: 15px;
    border: none;
    background-color: white;
    color: var(--Gold);
    margin-top: 10px;
    padding: 4px;
    color: black;
    font-size: 14px;
    cursor: pointer;

}
.email-me button:any-link{
    background-color: white;
    color: black;
}