/* ------------- English ---------- */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=SUSE:wght@100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* ----------- arabic ------------- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* ------------- fonts ---------------- */

@font-face {
  font-display: swap;
  font-family: q_light;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quattrocento-v23-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: q_bold;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/quattrocento-v23-latin-700.woff2") format("woff2");
}

/* -------------- :root --------------- */
:root {
  --BLACK: #000000;
  --WHITE: #ffffff;
  --MAIN-BLACK: #2c2c2c;
  --MAIN-WHITE: #eaeaea;
  --MAIN-MASTARD: #febe00;
  --OVERLAY: #00000056;
  --GRAY: gray;
  --GOLD: #ad8838;
  --Scroll-thumb: var(--GOLD);
  --Scroll-track: #2c2c2cea;
}
/* ------------------------------------ */

/* ----------------- scrollbar ------------------- */
/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  html {
    scrollbar-color: var(--Scroll-thumb) var(--Scroll-track);
    scrollbar-width: auto;
  }
}
/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar-thumb {
    background: var(--Scroll-thumb);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  html::-webkit-scrollbar-track {
    background: var(--Scroll-track);
  }
}
/* --------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

body {
  min-height: 100vh;
  width: 100%;

  background-image: url(/44.png);
  background-size: cover;

  font-family: q_bold;
}

/* =================header==================== */

.header {
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-header-hr {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #3d3d3d;
  margin: 0 auto;
  border: none;
  outline: none;
}

.header > a {
  display: contents;
}
.header > a img {
  padding: 5px 0;
  width: 180px;
}

/* ==================nav items=================== */

.nav-items {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
  margin: 0 0 0 20px;
}

.sandwitch {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 20px;
  padding: 5px 10px;
  display: none;
}

.sandwitch .sn {
  width: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sp_sn {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.nav-items li {
  border-right: 2px dotted var(--BLACK);
  margin: 4px 0 0 0;
}

.nav-items li:last-child {
  border-right: none;
}

.nav-items li a {
  font-size: 18px;
  font-weight: 600;
  /* font-family: "Quattrocento", sans-serif; */
  color: #daab47;
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 0 5px;
}

.nav-items li a:any-link {
  color: #daab47;
  text-decoration: none;
}

.nav-items li a:hover {
  background-color: black;
  /* color: #f1d015; */
}

/* ------- logout --------- */

.logout {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 0 0 5px white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logout img {
  width: 22px;
  height: auto;
}

.logout:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}



/* ------------------------------ */
/* ------------media------------  */
@media (max-width: 992px) {
  .header {
    position: relative;
  }
  .nav-items {
    display: none;
  }
  .nav-items.show {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1001;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-top: 2px solid gray;
    border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    opacity: 1;
    animation: opacity 700ms ease-in-out normal;
    -webkit-animation: opacity 700ms ease-in-out normal;
    -moz-animation: opacity 700ms ease-in-out normal;
    -ms-animation: opacity 700ms ease-in-out normal;
    -o-animation: opacity 700ms ease-in-out normal;
  }
  
  .nav-items.show li {
    width: 100%;
    border: none;
  }

  .nav-items.show li a {
    display: block;
    color: #daab47;
    background-color: transparent;
    text-align: center;
  }
  .nav-items.show li a:any-link {
    color: #daab47;
  }
  .nav-items.show li a:hover {
    background-color: var(--MAIN-BLACK);
  }
  .sandwitch {
    display: flex;
  }
}


/* //------------------ last --------------------- */
.simplebar-scrollbar::before {
  background-color: red;
}

.swal2-popup {
  font-size: 10px !important;
  font-weight: normal;
}
/* ------------------------------------------------ */
@media (max-width: 576px) {
  .header a img {
    width: 150px;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
