
.reset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
    padding: 2rem;
}

.pin-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pin-div input {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--GOLD);
  outline: none;
  text-align: center;
  font-size: 25px;
}

.pin-div span {
  color: var(--GOLD);
  font-size: 20px;
  font-weight: bold;
  font-family: cursive, "Noto Naskh Arabic";
}


.input-group {
    width: 320px;
    position: relative;
    border-bottom: 2px solid var(--GOLD);
    margin: 40px auto;
  }
  
  
  .l-n {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 8px 0 0 0;
    font-family: cursive, "Noto Naskh Arabic";
    font-weight: bold;
    word-spacing: -1px;
    font-size: 12px;
    color: var(--GOLD);
    text-align: end;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 18px;
    line-height: 1;
    color: var(--GRAY);
  }
  
  
  .input-group label {
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    pointer-events: none;
    color: var(--GRAY);
  }
  
  .input-group input {
    width: calc(100% - 28px); /* just for toggle eye icon to not go under it */
    border: none;
    outline: none;
    background: transparent;
    padding: 6px 0;
    color: var(--MAIN-WHITE);
  font-size: 25px;
  }
  
  .input-group label.focusIn {
    top: -5px;
    font-size: 12px;
  }


.reset-pass{
    display: block;
    margin: 0 auto;
    padding: 8px;
    font-size: 16px;
    color: var(--GOLD);
    background-color: var(--BLACK);
    border: 1px solid var(--GOLD);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.reset-pass:hover{
    box-shadow: 0 0 10px var(--GOLD);
}

@media(max-width : 576px){
  .pin-div input {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 22px;
  }
  .input-group {
    width: 260px;
  }
}