

<script type="module" src="/js/nav-bar.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>

<% if (locals.showScroller) { %>
<script type="module" src="/js/tiker.js"></script>
<script src="/js/reconnecting-websocket.min.js"></script>
<% } %>

<% if (locals.scripts) { %>
<% scripts.forEach((script)=>{ %>
<script src="<%= script %>"></script>
<% }) %>
<% } %>


<% if (locals.moduleScripts) { %>
<% moduleScripts.forEach((moduleScript)=>{ %>
<script type="module" src="<%= moduleScript %>"></script>
<% }) %>
<% } %>

</body>

</html>